
body{
    background: #8d8cd8;
    color: #0a0909 ;

}

.container{
    padding: 10px 10%;
    padding-left: 50px;

}
 
.copyright{
    width: 100% ;
    text-align:center;
    padding: 25px 0;
    background: #7878e0;
    font-weight: 300;
    margin-top: 400px;
}
